body {
  
    
       background-color:silver; /*цвет фона*/
}

p.qwe{
    color:;
    padding-left: 1200px;
}

li{
    color:black;
}

table.table {
    margin: auto;
    width: 500px;
}

input.www
{
    padding-left: 100px;
    color: aqua;
    background-color: antiquewhite
}

a.hr
{
    text-decoration: none;
    color: black;
   
}




